In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
iris = pd.read_csv("dirty_iris.csv")

In [3]:
iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0             6.4          3.2           4.5          1.5  versicolor
1             6.3          3.3           6.0          2.5   virginica
2             6.2          NaN           5.4          2.3   virginica
3             5.0          3.4           1.6          0.4      setosa
4             5.7          2.6           3.5          1.0  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.1           5.6          2.4   virginica
146           5.6          3.0           4.5          1.5  versicolor
147           5.2          3.5           1.5          0.2      setosa
148           6.4          3.1           NaN          1.8   virginica
149           5.8          2.6           4.0          NaN  versicolor

[150 rows x 5 columns]

In [4]:
iris.rename(columns = {'Sepal.Length':'slen','Sepal.Width':'swidth','Petal.Length':'plen','Petal.Width':'pwidth'})

     slen  swidth  plen  pwidth     Species
0     6.4     3.2   4.5     1.5  versicolor
1     6.3     3.3   6.0     2.5   virginica
2     6.2     NaN   5.4     2.3   virginica
3     5.0     3.4   1.6     0.4      setosa
4     5.7     2.6   3.5     1.0  versicolor
..    ...     ...   ...     ...         ...
145   6.7     3.1   5.6     2.4   virginica
146   5.6     3.0   4.5     1.5  versicolor
147   5.2     3.5   1.5     0.2      setosa
148   6.4     3.1   NaN     1.8   virginica
149   5.8     2.6   4.0     NaN  versicolor

[150 rows x 5 columns]

In [6]:
iris.describe(include='all')

        Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
count     140.000000   133.000000    131.000000        138.0         150
unique           NaN          NaN           NaN          NaN           3
top              NaN          NaN           NaN          NaN  versicolor
freq             NaN          NaN           NaN          NaN          50
mean        6.559286     3.390977      4.449962          inf         NaN
std         6.800940     3.315310      5.769299          NaN         NaN
min         0.000000    -3.000000      0.000000          0.1         NaN
25%         5.100000     2.800000      1.600000          0.3         NaN
50%         5.750000     3.000000      4.500000          1.3         NaN
75%         6.400000     3.300000      5.100000          1.8         NaN
max        73.000000    30.000000     63.000000          inf         NaN

In [7]:
iris['Species'].value_counts()

versicolor    50
virginica     50
setosa        50
Name: Species, dtype: int64

In [8]:
iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [9]:
iris.isna().sum()

Sepal.Length    10
Sepal.Width     17
Petal.Length    19
Petal.Width     12
Species          0
dtype: int64

In [11]:
iris.isin([np.inf,-np.inf]).sum()

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     1
Species         0
dtype: int64

In [16]:
iris.replace([np.inf,-np.inf],np.nan,inplace = True)
iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0             6.4          3.2           4.5          1.5  versicolor
1             6.3          3.3           6.0          2.5   virginica
2             6.2          NaN           5.4          2.3   virginica
3             5.0          3.4           1.6          0.4      setosa
4             5.7          2.6           3.5          1.0  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.1           5.6          2.4   virginica
146           5.6          3.0           4.5          1.5  versicolor
147           5.2          3.5           1.5          0.2      setosa
148           6.4          3.1           NaN          1.8   virginica
149           5.8          2.6           4.0          NaN  versicolor

[150 rows x 5 columns]

In [21]:
from sklearn.impute import SimpleImputer
imp_mode = SimpleImputer( missing_values=np.nan, strategy='most_frequent')
imp_mean = SimpleImputer( missing_values=np.nan, strategy='mean')

In [18]:
imp_mode

SimpleImputer(strategy='most_frequent')

In [22]:
from sklearn.compose import ColumnTransformer
column_trans = ColumnTransformer([('impute_s1',imp_mode,[0]),
                                  ('impute_sw',imp_mean,[1]),
                                   ('impute_p1',imp_mode,[2]),
                                   ('impute_pw',imp_mean,[3])],
                                   remainder = 'passthrough')

In [23]:
column_trans

ColumnTransformer(remainder='passthrough',
                  transformers=[('impute_s1',
                                 SimpleImputer(strategy='most_frequent'), [0]),
                                ('impute_sw', SimpleImputer(), [1]),
                                ('impute_p1',
                                 SimpleImputer(strategy='most_frequent'), [2]),
                                ('impute_pw', SimpleImputer(), [3])])

In [26]:
column_names = iris.columns
column_names

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [28]:
data = column_trans.fit_transform(iris)
data

array([[6.4, 3.2, 4.5, 1.5, 'versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'virginica'],
       [6.2, 3.3909774436090228, 5.4, 2.3, 'virginica'],
       [5.0, 3.4, 1.6, 0.4, 'setosa'],
       [5.7, 2.6, 3.5, 1.0, 'versicolor'],
       [5.3, 3.3909774436090228, 1.4, 0.2, 'setosa'],
       [6.4, 2.7, 5.3, 1.207299270072993, 'virginica'],
       [5.9, 3.0, 5.1, 1.8, 'virginica'],
       [5.8, 2.7, 4.1, 1.0, 'versicolor'],
       [4.8, 3.1, 1.6, 0.2, 'setosa'],
       [5.0, 3.5, 1.6, 0.6, 'setosa'],
       [6.0, 2.7, 5.1, 1.6, 'versicolor'],
       [6.0, 3.0, 4.8, 1.207299270072993, 'virginica'],
       [6.8, 2.8, 4.8, 1.4, 'versicolor'],
       [5.0, 3.9, 1.7, 0.4, 'setosa'],
       [5.0, -3.0, 3.5, 1.0, 'versicolor'],
       [5.5, 3.3909774436090228, 4.0, 1.3, 'versicolor'],
       [4.7, 3.2, 1.3, 0.2, 'setosa'],
       [5.0, 4.0, 1.4, 0.2, 'setosa'],
       [5.6, 3.3909774436090228, 4.2, 1.3, 'versicolor'],
       [4.9, 3.6, 1.4, 0.1, 'setosa'],
       [5.4, 3.3909774436090228, 4.5, 1.5, 'versicolor'],
       [6.2, 2.8, 1.4, 1.8, 'virginica'],
       [6.7, 3.3, 5.7, 2.5, 'virginica'],
       [5.0, 3.0, 5.9, 2.1, 'virginica'],
       [4.6, 3.2, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.1, 'setosa'],
       [73.0, 29.0, 63.0, 1.207299270072993, 'virginica'],
       [6.5, 3.2, 5.1, 2.0, 'virginica'],
       [5.0, 2.8, 0.82, 1.3, 'versicolor'],
       [4.4, 3.2, 1.4, 0.2, 'setosa'],
       [5.9, 3.2, 4.8, 1.207299270072993, 'versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'versicolor'],
       [6.2, 2.9, 1.4, 1.3, 'versicolor'],
       [6.6, 2.9, 23.0, 1.3, 'versicolor'],
       [4.8, 3.0, 1.4, 0.1, 'setosa'],
       [6.5, 3.0, 5.5, 1.8, 'virginica'],
       [6.2, 2.2, 4.5, 1.5, 'versicolor'],
       [6.7, 2.5, 5.8, 1.8, 'virginica'],
       [5.0, 3.0, 1.6, 0.2, 'setosa'],
       [5.0, 3.3909774436090228, 1.2, 0.2, 'setosa'],
       [5.8, 2.7, 3.9, 1.2, 'versicolor'],
       [0.0, 3.3909774436090228, 1.3, 0.4, 'setosa'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [5.5, 4.2, 1.4, 0.2, 'setosa'],
       [7.7, 2.8, 6.7, 2.0, 'virginica'],
       [5.7, 3.3909774436090228, 1.4, 0.4, 'setosa'],
       [7.0, 3.2, 4.7, 1.4, 'versicolor'],
       [6.5, 3.0, 5.8, 2.2, 'virginica'],
       [6.0, 3.4, 4.5, 1.6, 'versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'versicolor'],
       [4.9, 3.1, 1.4, 0.2, 'setosa'],
       [5.2, 2.7, 3.9, 1.4, 'versicolor'],
       [4.8, 3.4, 1.6, 0.2, 'setosa'],
       [6.3, 3.3, 4.7, 1.6, 'versicolor'],
       [7.7, 3.8, 6.7, 2.2, 'virginica'],
       [5.1, 3.8, 1.5, 0.3, 'setosa'],
       [5.0, 2.9, 4.5, 1.5, 'versicolor'],
       [6.4, 2.8, 5.6, 1.207299270072993, 'virginica'],
       [6.4, 2.8, 5.6, 2.1, 'virginica'],
       [5.0, 2.3, 3.3, 1.207299270072993, 'versicolor'],
       [7.4, 2.8, 6.1, 1.9, 'virginica'],
       [4.3, 3.0, 1.1, 0.1, 'setosa'],
       [5.0, 3.3, 1.4, 0.2, 'setosa'],
       [7.2, 3.0, 5.8, 1.6, 'virginica'],
       [6.3, 2.5, 4.9, 1.5, 'versicolor'],
       [5.1, 2.5, 1.4, 1.1, 'versicolor'],
       [5.0, 3.2, 5.7, 2.3, 'virginica'],
       [5.1, 3.5, 1.4, 1.207299270072993, 'setosa'],
       [5.0, 3.5, 1.3, 0.3, 'setosa'],
       [6.1, 3.0, 4.6, 1.4, 'versicolor'],
       [6.9, 3.1, 5.1, 2.3, 'virginica'],
       [5.1, 3.5, 1.4, 0.3, 'setosa'],
       [6.5, 3.3909774436090228, 4.6, 1.5, 'versicolor'],
       [5.6, 2.8, 4.9, 2.0, 'virginica'],
       [4.9, 2.5, 4.5, 1.207299270072993, 'virginica'],
       [5.5, 3.5, 1.3, 0.2, 'setosa'],
       [7.6, 3.0, 6.6, 2.1, 'virginica'],
       [5.1, 3.8, 0.0, 0.2, 'setosa'],
       [7.9, 3.8, 6.4, 2.0, 'virginica'],
       [6.1, 2.6, 5.6, 1.4, 'virginica'],
       [5.4, 3.4, 1.7, 0.2, 'setosa'],
       [6.1, 2.9, 4.7, 1.4, 'versicolor'],
       [5.4, 3.7, 1.5, 0.2, 'setosa'],
       [6.7, 3.0, 5.2, 2.3, 'virginica'],
       [5.1, 3.8, 1.9, 1.207299270072993, 'setosa'],
       [6.4, 2.9, 4.3, 1.3, 'versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'versicolor'],
       [4.4, 2.9, 1.4, 0.2, 'setosa'],
       [6.3, 2.5, 5.0, 1.9, 'virginica'],
       [7.2, 3.2, 6.0, 1.8, 'virginica'],
       [4.9, 3.3909774436090228, 3.3, 1.0, 'versicolor'],
       [5.2, 3.4, 1.4, 0.2, 'setosa'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [6.0, 2.2, 5.0, 1.5, 'virginica'],
       [6.9, 3.1, 1.4, 1.5, 'versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'versicolor'],
       [6.7, 3.3909774436090228, 5.0, 1.7, 'versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'versicolor'],
       [6.3, 2.8, 5.1, 1.5, 'virginica'],
       [5.4, 3.4, 1.5, 0.4, 'setosa'],
       [7.2, 3.6, 1.4, 2.5, 'virginica'],
       [6.3, 2.7, 4.9, 1.207299270072993, 'virginica'],
       [5.6, 3.0, 4.1, 1.3, 'versicolor'],
       [5.1, 3.7, 1.4, 0.4, 'setosa'],
       [5.5, 3.3909774436090228, 0.925, 1.0, 'versicolor'],
       [6.5, 3.0, 5.2, 2.0, 'virginica'],
       [4.8, 3.0, 1.4, 1.207299270072993, 'setosa'],
       [6.1, 2.8, 1.4, 1.3, 'versicolor'],
       [4.6, 3.4, 1.4, 0.3, 'setosa'],
       [6.3, 3.4, 1.4, 2.4, 'virginica'],
       [5.0, 3.4, 1.5, 0.2, 'setosa'],
       [5.1, 3.4, 1.5, 0.2, 'setosa'],
       [5.0, 3.3, 5.7, 2.1, 'virginica'],
       [6.7, 3.1, 4.7, 1.5, 'versicolor'],
       [7.7, 2.6, 6.9, 2.3, 'virginica'],
       [6.3, 3.3909774436090228, 4.4, 1.3, 'versicolor'],
       [4.6, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, 3.0, 5.5, 2.1, 'virginica'],
       [5.0, 2.8, 4.7, 1.2, 'versicolor'],
       [5.9, 3.0, 1.4, 1.5, 'versicolor'],
       [4.5, 2.3, 1.3, 0.3, 'setosa'],
       [6.4, 3.2, 5.3, 2.3, 'virginica'],
       [5.2, 4.1, 1.5, 0.1, 'setosa'],
       [49.0, 30.0, 14.0, 2.0, 'setosa'],
       [5.6, 2.9, 3.6, 1.3, 'versicolor'],
       [6.8, 3.2, 5.9, 2.3, 'virginica'],
       [5.8, 3.3909774436090228, 5.1, 2.4, 'virginica'],
       [4.6, 3.6, 1.4, 0.2, 'setosa'],
       [5.7, 0.0, 1.7, 0.3, 'setosa'],
       [5.6, 2.5, 3.9, 1.1, 'versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'versicolor'],
       [4.8, 3.3909774436090228, 1.9, 0.2, 'setosa'],
       [5.1, 3.3, 1.7, 0.5, 'setosa'],
       [4.4, 3.0, 1.3, 1.207299270072993, 'setosa'],
       [7.7, 3.0, 1.4, 2.3, 'virginica'],
       [4.7, 3.2, 1.6, 0.2, 'setosa'],
       [5.0, 3.0, 4.9, 1.8, 'virginica'],
       [6.9, 3.1, 5.4, 2.1, 'virginica'],
       [6.0, 2.2, 4.0, 1.0, 'versicolor'],
       [5.0, 3.3909774436090228, 1.4, 0.2, 'setosa'],
       [5.5, 3.3909774436090228, 3.8, 1.1, 'versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'versicolor'],
       [6.3, 2.9, 5.6, 1.8, 'virginica'],
       [5.7, 2.5, 5.0, 2.0, 'virginica'],
       [6.7, 3.1, 5.6, 2.4, 'virginica'],
       [5.6, 3.0, 4.5, 1.5, 'versicolor'],
       [5.2, 3.5, 1.5, 0.2, 'setosa'],
       [6.4, 3.1, 1.4, 1.8, 'virginica'],
       [5.8, 2.6, 4.0, 1.207299270072993, 'versicolor']], dtype=object)

In [ ]:
###read minmaxscaler/stdscaler/stdnormalization --> these are also known as feature scaling
this is used when we want to compare different data and when their scales are different

In [29]:
car = pd.read_csv("carprice.csv")

In [30]:
car

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500.0,24.0,30.0,13950.0
1,0,peugeot 504,gas,std,four,wagon,rwd,front,114.2,198.9,...,120,mpfi,3.46,2.19,8.4,95,5000.0,19.0,24.0,16695.0
2,3,mitsubishi outlander,gas,turbo,two,hatchback,fwd,front,95.9,173.2,...,156,spdi,3.58,3.86,7.0,145,5000.0,19.0,24.0,12629.0
3,1,toyota corona,gas,std,two,hatchback,fwd,front,95.7,158.7,...,92,2bbl,3.05,3.03,9.0,62,4800.0,31.0,38.0,6338.0
4,2,toyota cressida,gas,std,two,convertible,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.3,116,NaN,24.0,30.0,17669.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,0,jaguar xf,NaN,std,four,sedan,rwd,front,113.0,199.6,...,258,mpfi,3.63,4.17,8.1,176,4750.0,15.0,19.0,35550.0
149,1,plymouth fury gran sedan,gas,std,four,sedan,fwd,front,93.7,167.3,...,98,2bbl,2.97,3.23,9.4,68,5500.0,31.0,38.0,7609.0
150,0,volkswagen rabbit custom,diesel,turbo,four,sedan,fwd,front,100.4,180.2,...,97,idi,3.01,3.40,23.0,68,4500.0,33.0,38.0,13845.0
151,2,toyota corolla,gas,std,two,hatchback,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.3,116,4800.0,24.0,30.0,11549.0
152,0,mazda rx-7 gs,diesel,std,four,sedan,rwd,front,104.9,175.0,...,134,idi,3.43,3.64,22.0,72,4200.0,31.0,39.0,18344.0

In [35]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
car['price'] = scaler.fit_transform(car['price'].values.reshape(-1, 1))[:,0]

In [37]:
car

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500.0,24.0,30.0,0.219254
1,0,peugeot 504,gas,std,four,wagon,rwd,front,114.2,198.9,...,120,mpfi,3.46,2.19,8.4,95,5000.0,19.0,24.0,0.287399
2,3,mitsubishi outlander,gas,turbo,two,hatchback,fwd,front,95.9,173.2,...,156,spdi,3.58,3.86,7.0,145,5000.0,19.0,24.0,0.186460
3,1,toyota corona,gas,std,two,hatchback,fwd,front,95.7,158.7,...,92,2bbl,3.05,3.03,9.0,62,4800.0,31.0,38.0,0.030286
4,2,toyota cressida,gas,std,two,convertible,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.3,116,NaN,24.0,30.0,0.311578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,0,jaguar xf,NaN,std,four,sedan,rwd,front,113.0,199.6,...,258,mpfi,3.63,4.17,8.1,176,4750.0,15.0,19.0,0.755474
149,1,plymouth fury gran sedan,gas,std,four,sedan,fwd,front,93.7,167.3,...,98,2bbl,2.97,3.23,9.4,68,5500.0,31.0,38.0,0.061839
150,0,volkswagen rabbit custom,diesel,turbo,four,sedan,fwd,front,100.4,180.2,...,97,idi,3.01,3.40,23.0,68,4500.0,33.0,38.0,0.216648
151,2,toyota corolla,gas,std,two,hatchback,rwd,front,98.4,176.2,...,146,mpfi,3.62,3.50,9.3,116,4800.0,24.0,30.0,0.159649
152,0,mazda rx-7 gs,diesel,std,four,sedan,rwd,front,104.9,175.0,...,134,idi,3.43,3.64,22.0,72,4200.0,31.0,39.0,0.328335

In [39]:
car['price'].mean()

0.2047107381522359

In [40]:
car['price'].var()

0.042481691680630124

In [41]:
car = pd.read_csv("carprice.csv")

In [42]:
car['price'].mean()

13364.157954248365

In [43]:
car['price'].var()

68932471.96737236

In [ ]:
##So the mean and the variance above is pretty more, so now using the min max scaler, we can impute the car price and see

In [44]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
car['price'] = scaler.fit_transform(car['price'].values.reshape(-1, 1))[:,0]

In [45]:
car['price'].mean()

0.2047107381522359

In [46]:
car['price'].var()

0.042481691680630124

In [47]:
car = pd.read_csv("carprice.csv")

In [48]:
car['price'].mean()

13364.157954248365

In [49]:
car['price'].var()

68932471.96737236

In [ ]:
###use std scalar
#mean center : mean will be 0
## sd. var : 1

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
car['price'] = scaler.fit_transform(car['price'].values.reshape(-1, 1))[:,0]