In [ ]:
ins = pd.read_csv("insurance.csv")

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
ins

In [ ]:
ins['bmi'].min()

In [ ]:
ins['bmi'].max()

In [ ]:
ins.groupby('region')['charges'].mean().sort_values(ascending = False)

In [ ]:
import seaborn as sns

In [ ]:
#4. Visualize region wise average charges on the basis of smoking habit using suitable chart.
sns.barplot(x='region',y='charges',data=ins,hue='smoker',estimator=np.mean)

In [ ]:
#. Create age bins as shown and infer about the BMI based on it.
#• 18-29 – Young adult 
#• 30-59 – Adult
#• 60 & above – Senior
ins['def_age'] = pd.cut(x=ins['age'],bins = [17,29,59,70],
                       labels = ['Young adult','Adult','Senior'])

In [ ]:
ins

In [ ]:
ins['age'].max()

In [ ]:
ins['age'].min()

## Practice Exercise 2

In [ ]:
mall = pd.read_excel("Mall_Customers_data.xlsx")

In [ ]:
mall

In [ ]:
#1. What is the average annual income of female customers who have spending score of less than 65?
mall[mall['Spending Score (1-100)']<65].groupby('Gender')['Annual Income (k$)'].mean()

In [ ]:
#2. Explore the relationship (if any) between gender, annual income as well as 
#spending score. What are the conclusions that may be drawn?
mall[['Gender','Annual Income (k$)','Spending Score (1-100)']].corr()

In [ ]:
pd.crosstab(data = 'mall',index = ['Gender'],
    columns = ['Annual Income (k$)','Spending Score (1-100)'],
    values= ['Annual Income (k$)','Spending Score (1-100)'],
           aggfunc="mean")

In [ ]:
pd.crosstab?

In [ ]:
mall.pivot_table(
    values=['Annual Income (k$)','Spending Score (1-100)'],
    index=['Gender'],
    aggfunc = 'mean'
)

In [ ]:
mall['Age'].max()

In [ ]:
#3. Create a new column "Age Group" and evaluate the extent of relationship between age and spending score using suitable visualization. 
#• 18-29 – Young adult 
#• 30-59 – Adult
#• 60 & above – Senior
mall['age_grp'] = pd.cut(x=mall['Age'],bins = [17,29,59,71],
                       labels = ['Young adult','Adult','Senior'])

In [ ]:
mall

In [ ]:
#4. Explore the correlation (if any) between annual income and spending score 
#with respect to age group.
mall.pivot_table(
    values=['Annual Income (k$)','Spending Score (1-100)'],
    index=['Gender'],
    aggfunc = 'corr'
)

In [ ]:
import seaborn as sns

In [ ]:
sns.scatterplot(data = mall, x = 'Annual Income (k$)', y = 'Spending Score (1-100)',hue = 'Age', palette = 'YlOrBr_r')

In [ ]:
#5. Determine the highest spending score of an adult male.
mall[['Spending Score (1-100)','Gender']].max()

In [ ]:
mall.pivot_table(
    values=['Spending Score (1-100)'],
    index=['Gender'],
    aggfunc = 'max'
)

In [ ]:
spend_male = mall[(mall['Gender']=='Male') & (mall['age_grp']=='Adult')]
spend_male['Spending Score (1-100)'].max()

## Practice Exercise 3

In [154]:
imdb = pd.read_csv("imdb_top_1000.csv")
imdb

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [ ]:

imdb.columns

In [ ]:
##1. How many movies directed by Hayao Miyazaki the meta score of which lies 
##between 85 and 100 have occupied this list?
Hayao_score = imdb[(imdb['Director']=='Hayao Miyazaki') & (imdb['Meta_score'].between(85,100))]
Hayao_score.shape

In [ ]:
Hayao_score

In [ ]:
pg13 = imdb[imdb['Certificate']=='PG-13']
pg13

In [ ]:
##2. What is the average rating of movies that have been PG-13 certified?
pg13 = imdb[imdb['Certificate']=='PG-13']
pg13

In [ ]:
pg13['IMDB_Rating'].mean()

In [ ]:
#3. Create a pivot table citing the median scores of A certified movies released 
#post 2015.
cert_a=imdb[(imdb['Certificate']=='A') & (imdb['Released_Year'] > '2015')]

In [145]:
cert_a.pivot_table(index = ['Released_Year'],columns = ['Certificate'],values = ['Meta_score'],aggfunc = 'median')

              Meta_score
Certificate            A
Released_Year
2016                84.0
2017                88.0
2018                84.0
2019                68.0

In [146]:
cert_a.pivot_table(index=["Certificate"], columns=["Released_Year"], values=["Meta_score"], aggfunc="median")

              Meta_score
Released_Year       2016  2017  2018  2019
Certificate
A                   84.0  88.0  84.0  68.0

In [153]:
#4. Determine the least rating given for Francis Ford Coppola movies.
#imdb.columns
movie = imdb[(imdb['Director'] == 'Francis Ford Coppola' )]
movie['IMDB_Rating'].min()

7.6

In [158]:
#5. How many movies with actors Al Pacino and Robert De Niro as the first and 
#second leads are present in the data?
al_deniro = imdb[(imdb['Star1'] == 'Al Pacino') & (imdb['Star2'] == 'Robert De Niro')]
al_deniro.shape

(2, 16)

In [159]:
al_deniro.shape[0]

2