In [1]:
# Insert the correct syntax to convert x into a floating point number.
x=5
float(x)
x

5

In [2]:
x.as_integer_ratio

In [3]:
x.bit_length

In [5]:
fruits = ["apple","banana","Cherry"]
print(fruits[1])

banana

In [6]:
fruits[0] = "Kiwi"
fruits

['Kiwi', 'banana', 'Cherry']

In [8]:
fruits.append("orange")
fruits

['Kiwi', 'banana', 'Cherry', 'orange', 'orange']

In [12]:
a=5
b=a
b
a=4
a
b

5

In [14]:
##sets
fruits = {"apple","banana","Cherry"}
type(fruits)
fruits.add("orange")

In [32]:
fruits
b = fruits.copy()
b
fruits.add("kiwi")
fruits

{'Cherry', 'apple', 'banana', 'kiwi', 'orange'}

In [ ]:
##add multiple fruits(more fruits) to fruit set.
fruits = {"apple","banana","Cherry"}

In [28]:
b

{'Cherry', 'apple', 'banana', 'kiwi', 'orange'}

In [33]:
fruits

{'Cherry', 'apple', 'banana', 'kiwi', 'orange'}

In [34]:
fruits_copy = fruits.copy()
fruits_copy

{'Cherry', 'apple', 'banana', 'kiwi', 'orange'}

In [35]:
fruits.add("aa")

In [36]:
fruits

{'Cherry', 'aa', 'apple', 'banana', 'kiwi', 'orange'}

In [37]:
fruits_copy

{'Cherry', 'apple', 'banana', 'kiwi', 'orange'}

In [45]:
#Use a get method to print the model of the car
car={
    "Brand":"Ford",
    "Model":"Mustang",
    "Year": 1964
    }

In [46]:
type(car)

dict

In [51]:
car.get("Model")

'Mustang'

In [52]:
?car.update

In [53]:
?car.values

In [57]:
##pop to remove the model
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
car

{'brand': 'Ford', 'year': 1964}

In [58]:
a=50
b=10
if a>b:
    print("Hello World")

Hello World

In [60]:
#print yes if a ==b otherwise "no"
Question 2
a=50
b=10
if a==b:
    print("Yes")
else:
    print("No")

No

In [61]:
##print "1" is a is equal to b, a>b == no; else 3
a=50
b=10
if a==b:
    print("1")
elif a>b:
    print("2")
else:
    print("3")

2

In [62]:
a=50
b=10
c=20
d=20
if (a==b) or (c==d):
    print("Hello World")
else:
    print("...")

Hello World

In [63]:
##loop thro the items in the list
Question 1
fruits = ["apple","banana","Cherry"]
for i in fruits:
    print(i)

apple
banana
Cherry

In [ ]:
##use a range fuction to loop through a code set 6 times
for i in range()

In [98]:
##Exit the loop when X is banana
Question 1
fruits = ["apple","banana","Cherry"]
for i in fruits:
    if i == "banana":
        print("Found")
        break
    else:
        print("Banana not found")

SyntaxError: invalid syntax (2671397036.py, line 2)

In [72]:
###stop the loop if i =3
i=1
while i<=10:
    print("loop")
    if i == 3:
        break
    i = i+1

loop
loop
loop

In [94]:
def Name (first_name,last_name):
    name = first_name + last_name
    print(name)

In [96]:
Name("vik", "ram")

vikram