In [ ]:
investigation team, and you were asked to get specific data from a database created by the exploration team. Take a look at the dataset and provide your solution to the queries. 

Dataset: Given the titanic dataset here.
1.Load the data using pandas.
2.Perform basic Exploratory Data Analysis (EDA).
3.Prepare a chart or visualize the analysis.

Problems: Using Pandas answer the given questions.
1.How many people survived?
2.How many men survived? 
3.What was the average age of the passengers? 
4.What was the average age of the passengers who survived? 
5.Who paid more fare, men or women?
6.How many passengers were above the age of 50?
7.Among the people who survived, what was the percentage of men?

In [5]:
import pandas as pd

In [6]:
titanic = pd.read_csv("titanic.csv")

In [7]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [22]:
#How many people survived?
titanic[titanic["Survived"]==1].shape

(342, 12)

In [20]:
titanic.shape?

In [41]:
titanic[("Survived")].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [24]:
titanic.value_counts?

In [27]:
#How many men survived?
titanic[(titanic["Survived"]==1) & (titanic["Sex"] == "male")].value_counts()

PassengerId  Survived  Pclass  Name                                          Sex   Age    SibSp  Parch  Ticket             Fare      Cabin        Embarked
22           1         2       Beesley, Mr. Lawrence                         male  34.00  0      0      248698             13.0000   D56          S           1
573          1         1       Flynn, Mr. John Irwin ("Irving")              male  36.00  0      0      PC 17474           26.3875   E25          S           1
600          1         1       Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")  male  49.00  1      0      PC 17485           56.9292   A20          C           1
622          1         1       Kimball, Mr. Edwin Nelson Jr                  male  42.00  1      0      11753              52.5542   D19          S           1
631          1         1       Barkworth, Mr. Algernon Henry Wilson          male  80.00  0      0      27042              30.0000   A23          S           1
633          1         1       Stahelin-Maeglin, Dr. Max                     male  32.00  0      0      13214              30.5000   B50          C           1
646          1         1       Harper, Mr. Henry Sleeper                     male  48.00  1      0      PC 17572           76.7292   D33          C           1
648          1         1       Simonius-Blumer, Col. Oberst Alfons           male  56.00  0      0      13213              35.5000   A26          C           1
680          1         1       Cardeza, Mr. Thomas Drake Martinez            male  36.00  0      1      PC 17755           512.3292  B51 B53 B55  C           1
682          1         1       Hassab, Mr. Hammad                            male  27.00  0      0      PC 17572           76.7292   D49          C           1
691          1         1       Dick, Mr. Albert Adrian                       male  31.00  1      0      17474              57.0000   B20          S           1
702          1         1       Silverthorne, Mr. Spencer Victor              male  35.00  0      0      PC 17475           26.2875   E24          S           1
708          1         1       Calderhead, Mr. Edward Pennington             male  42.00  0      0      PC 17476           26.2875   E24          S           1
713          1         1       Taylor, Mr. Elmer Zebley                      male  48.00  1      0      19996              52.0000   C126         S           1
725          1         1       Chambers, Mr. Norman Campbell                 male  27.00  1      0      113806             53.1000   E8           S           1
738          1         1       Lesurer, Mr. Gustave J                        male  35.00  0      0      PC 17755           512.3292  B101         C           1
752          1         3       Moor, Master. Meier                           male  6.00   0      1      392096             12.4750   E121         S           1
803          1         1       Carter, Master. William Thornton II           male  11.00  1      2      113760             120.0000  B96 B98      S           1
858          1         1       Daly, Mr. Peter Denis                         male  51.00  0      0      113055             26.5500   E17          S           1
588          1         1       Frolicher-Stehli, Mr. Maxmillian              male  60.00  1      1      13567              79.2000   B41          C           1
551          1         1       Thayer, Mr. John Borland Jr                   male  17.00  0      2      17421              110.8833  C70          C           1
24           1         1       Sloper, Mr. William Thompson                  male  28.00  0      0      113788             35.5000   A6           S           1
513          1         1       McGough, Mr. James Robert                     male  36.00  0      0      PC 17473           26.2875   E25          S           1
98           1         1       Greenfield, Mr. William Bertram               male  23.00  0      1      PC 17759           63.3583   D10 D12      C           1
184          1         2       Becker, Master. Richard F                     male  1.00   2      1      230136             39.0000   F4           S           1
194          1         2       Navratil, Master. Michel M                    male  3.00   1      1      230080             26.0000   F2           S           1
210          1         1       Blank, Mr. Henry                              male  40.00  0      0      112277             31.0000   A31          C           1
225          1         1       Hoyt, Mr. Frederick Maxfield                  male  38.00  1      0      19943              90.0000   C93          S           1
249          1         1       Beckwith, Mr. Richard Leonard                 male  37.00  1      1      11751              52.5542   D35          S           1
306          1         1       Allison, Master. Hudson Trevor                male  0.92   1      2      113781             151.5500  C22 C26      S           1
341          1         2       Navratil, Master. Edmond Roger                male  2.00   1      1      230080             26.0000   F2           S           1
371          1         1       Harder, Mr. George Achilles                   male  25.00  1      0      11765              55.4417   E50          C           1
391          1         1       Carter, Mr. William Ernest                    male  36.00  1      2      113760             120.0000  B96 B98      S           1
430          1         3       Pickard, Mr. Berk (Berk Trembisky)            male  32.00  0      0      SOTON/O.Q. 392078  8.0500    E10          S           1
431          1         1       Bjornstrom-Steffansson, Mr. Mauritz Hakan     male  28.00  0      0      110564             26.5500   C52          S           1
446          1         1       Dodge, Master. Washington                     male  4.00   0      2      33638              81.8583   A34          S           1
450          1         1       Peuchen, Major. Arthur Godfrey                male  52.00  0      0      113786             30.5000   C104         S           1
454          1         1       Goldenberg, Mr. Samuel L                      male  49.00  1      0      17453              89.1042   C92          C           1
461          1         1       Anderson, Mr. Harry                           male  48.00  0      0      19952              26.5500   E12          S           1
485          1         1       Bishop, Mr. Dickinson H                       male  25.00  1      0      11967              91.0792   B49          C           1
890          1         1       Behr, Mr. Karl Howell                         male  26.00  0      0      111369             30.0000   C148         C           1
dtype: int64

In [ ]:
df[df['Sex'] == 'male']['Survived'].value_counts()

In [34]:
titanic[titanic["Sex"]=="male"]["Survived"].value_counts()

0    468
1    109
Name: Survived, dtype: int64

In [19]:
#What was the average age of the passengers? 
titanic["Age"].mean()

29.69911764705882

In [39]:
#What was the average age of the passengers who survived? 
titanic[titanic["Survived"]==1]["Age"].mean()

28.343689655172415

In [44]:
#5.Who paid more fare, men or women?
titanic.groupby("Sex")["Fare"].mean()

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64

In [46]:
#6.How many passengers were above the age of 50?
titanic[titanic["Age"]> 50].shape

(64, 12)

In [57]:
#7.Among the people who survived, what was the percentage of men?
titanic.groupby("Sex")["Survived"].count()

Sex
female    314
male      577
Name: Survived, dtype: int64